body {
	margin-bottom: 5em;
	width: fit-content;
	font-size: 1em;
}

/* 
------------------------------------------------------------
							HEADER
------------------------------------------------------------
*/

header {
	background-color: var(--red);
	font-size: 1.4em;
	box-shadow: none;
	border-radius: 0%;

	position: fixed;
	z-index: 10;
	bottom: 0;

	flex-wrap: nowrap;
	justify-content: space-around;
}

header li {
  	margin: 0;
}

.logo {
	display: none;
}

.navmenu {
	font-size: 3.4vw;
}

nav li a,
nav .menu_name {
	padding: 1.5em 4px;
	border-radius: 5%;
}

.menu_name {
	background-color: var(--secondary-color);
}

/* 
------------------------------------------------------------
						BREADCRUMBS
------------------------------------------------------------
*/

.breadcrumbs {
	font-size: 3.4vw;
}

/* 
------------------------------------------------------------
							FOOTER
------------------------------------------------------------
*/

footer {
	align-items: center;
}

#titolo_footer {
	margin-top: 0;
	margin-left: 0;
}

#info_sede_centrale {
	font-size: 1em;
}

#copyright_text {
	margin-top: 1em;
}
/* 
---------------------------------------------------------------------
*/



/* 
====================================================
						HOME
====================================================
*/

/* 
---------------
	TITOLO
---------------
*/

#home_titolo_bg {
	height: 600px;
}

#home_titolo_text_box {
	margin: 1em 0 0 1em;
}

#home_titolo_titolo {
	font-size: 3em;
}

#home_titolo_testo {
	line-height: 1em;
}

/* 
---------------
	  CLUBS
---------------
*/

#home_sedi_text_box {
	margin-left: 0;
	padding: 1em;
}

#home_sedi_for_mobile {
	margin: 1em;
}

#home_sedi_titolo span {
	color: var(--red);
}

#home_sedi_testo {
	margin: 0 0 0.5em 0;
}

#home_sedi_text_box .menu_link {
	padding: 0.8em 1em;
	margin-right: 0;
}

/* 
---------------
	CORSI
---------------
*/

#home_corsi_text_box {
	margin-right: 0;
	padding: 2em 1em 1em 1em;
}

#home_corsi_for_mobile {
	margin: 1em;
}

.home_corsi_testo {
	margin: 0.5em;
}

.u_list {
	margin-left: 3em;
}

/* 
------------------
	ISCRIZIONE
------------------
*/

#home_iscrizione {
	margin: 1em;
	text-align: center;
	display: grid;
	row-gap: 0.3em;
	grid-template-columns: 1fr;
	grid-template-areas: 
	"iti"
	"ite"
	"p1"
	"p2"
	"p3"
	"b";
}

#home_iscrizione_titolo {
	font-size: 2em;
}

#home_iscrizione_testo {
	grid-area: ite;
	width: 100%;
	padding: 0.5em;
	line-height: 1.2em;
}

/* 
---------------
	INFO
---------------
*/

#home_info {
	font-size:medium;
	text-align: center;
	margin-bottom: 2em;
	padding: 1em;
}

#home_info_titolo {
	font-size: 2em;
}

#home_info_testo {
	font-size: 1.2em;
}

#home_info .menu_link {
	font-size: 1.2em;
}

/* 
====================================================
						CLUBS
==================================================== 
*/

#clubs_content {
	display: grid;
    grid-template-columns: 1fr;
	row-gap: 1em;
    grid-template-areas: 
    "s"
    "l"
	"m";
	margin-bottom: 1em;
}
#search_title {
	font-size: 2em;
}

#search_title p{
	color: var(--red);
}

#searchbar_club {
	font-size: 1em;
}

#google_map {
	grid-area: m;
	margin : 0 1em;
}

iframe#map {         
	z-index: 1;
}

#addresses_container {
	height: 600px;
	margin : 0em 1em;
}

#addresses_container h2 {
	font-size: 1.5em;
}

.address {
	font-size: 1.3em;
}

.panel p {
	font-size: 1.3em;
}


/*
-------------------------------------------------------------------------------------------
JOINUS
-------------------------------------------------------------------------------------------

*/

.imgform {
        display: none;
}

.formpage {
      padding-left: 0;
      padding-right: 0;
}

.wrapper {
		display: flex;
}


