:root {
	--gradient-blurry : #000000d8;
	
}

body {
	margin-bottom: 4.8em;
	width: fit-content;
	font-size: 1em;
}

/* 
------------------------------------------------------------
							HEADER
------------------------------------------------------------
*/

header {
	height: 7em;
	background-color: var(--red);
	font-size: 0.7em;
	box-shadow: none;
	border-radius: 0%;

	position: fixed;
	bottom: 0;

	flex-wrap: nowrap;
	justify-content: space-around;
}

header li {
  	margin: 0 10px;
}

.logo {
	display: none;
}

.navmenu {
	font-size: 0.7em;
}

nav li a,
nav li p,
nav .menu_name {
	padding: 1.5em 4px;
}

/* 
------------------------------------------------------------
						BREADCRUMBS
------------------------------------------------------------
*/

.breadcrumbs {
	font-size: 0.8em;
}

/* 
------------------------------------------------------------
							FOOTER
------------------------------------------------------------
*/

footer {
	align-items: center;
}

#titolo_footer {
	margin-top: 0;
	margin-left: 0;
}

#info_sede_centrale {
	font-size: 1em;
}

#copyright_text {
	margin-top: 1em;
}
/* 
---------------------------------------------------------------------
*/



/* 
====================================================
						HOME
====================================================
*/

#home_content {
	display: grid;
    grid-template-columns: 1fr;
	column-gap: 0;
    grid-template-areas:
			"t"
			"s"
			"c "
			"iscr"
			"info";
}

.menu_link {
	font-size: 1em;
}

.menu_link:hover {
	background-color: var(--visited-links);
}

/* 
---------------
	TITOLO
---------------
*/

#home_titolo_bg {
	height: 600px;
}

#home_titolo_text_box {
	margin: 1em 0 0 1em;
}

#home_titolo_titolo {
	font-size: 3em;
}

#home_titolo_testo {
	font-size: 1.3em;
	line-height: 1em;
}

/* 
---------------
	  CLUBS
---------------
*/

#home_sedi_text_box {
	grid-area: s;
	background-image: url('../img/home_sedi_bg.png');
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	height: auto;
	margin-left: 0;
	padding: 1em;
}

#home_sedi_for_mobile {
	background-color: var(--gradient-first-color-hover);
	background-color: var(--gradient-blurry);
	margin: 1em;
}

#home_sedi_titolo {
	padding-top: 0.5em;
	font-size: 2em;
}

#home_sedi_titolo span {
	color: var(--red);
}

#home_sedi_testo {
	margin: 0 0 0.5em 0;
	padding: 0.5em;
	font-size: 1.3em;
}

#home_sedi_text_box .menu_link {
	padding: 0.8em 1em;
	margin-right: 0;
}

/* 
---------------
	CORSI
---------------
*/

#home_corsi_text_box {
	grid-area: c;
	background-image: url('../img/corsi/cycle-body-main.jpg');
	background-position: right;
	background-size: cover;
	background-repeat: no-repeat;
	margin-right: 0;
	padding: 2em 1em 1em 1em;
}

#home_corsi_for_mobile {
	background-color: var(--gradient-first-color-hover);
	background-color: var(--gradient-blurry);
	margin: 1em;
}

#home_corsi_titolo {
	padding-top: 0.5em;
	font-size: 2em;
}

.home_corsi_testo {
	margin: 0.5em;
}

.u_list {
	margin-left: 3em;
}

#home_corsi_text_box .menu_link {
	margin: 0 0 1em 0;
	padding: 0.8em 1em;
	
}

/* 
------------------
	ISCRIZIONE
------------------
*/

#home_iscrizione {
	grid-area: iscr;
	margin: 1em;
	text-align: center;
	display: grid;
	gap: 1em;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: 
	"iti iti iti"
	"ite ite ite"
	"p1 p2 p3"
	". b .";
}

#home_iscrizione_titolo {
	grid-area: iti;
	font-size: 2.5em;
	text-transform: uppercase;
	padding: 0.3em 0.3em 0 0.3em;
}

#home_iscrizione_testo {
	grid-area: ite;
	background-color: var(--gradient-first-color-hover);
	width: 60%;
	height: auto;
	margin: auto;
	padding: 1em;
	text-align: center;
	line-height: 1.3em;
	object-position: center;
}

#home_iscrizione_piano1 {
	grid-area: p1;
	background-color: #f74b45;
}

#home_iscrizione_piano2 {
	grid-area: p2;
	background-color: #4386c2;
}

#home_iscrizione_piano3 {
	grid-area: p3;
	background-color: #d4c72f;
}

#home_iscrizione_piano1:hover {
	background-color: #e62620;
}

#home_iscrizione_piano2:hover {
	background-color: #1b7acc;
}

#home_iscrizione_piano3:hover {
	background-color: #aa9d0c;
}

#home_iscrizione_piano1,
#home_iscrizione_piano2,
#home_iscrizione_piano3 {
	margin: 0.5em;
	padding: 0.5em;
	text-align: left;
	border-radius: 5%;
}

#home_iscrizione_piano1 h4,
#home_iscrizione_piano2 h4,
#home_iscrizione_piano3 h4 {
	text-align: center;
	text-transform: uppercase;
	font-size: 1.4em;
	padding: 10px;
}

#home_iscrizione .menu_link {
	grid-area: b;
	margin: 0.5em;
	padding: 0.8em 1em;
	text-transform: uppercase;
	font-size: 1.4em;
	border: 5px solid var(--secondary-color);
	background-color: var(--primary-color);
	color: var(--secondary-color);
}

/* 
---------------
	INFO
---------------
*/

#home_info {
	grid-area: info;
	font-size: large;
	text-align: center;
	margin-bottom: 2em;
	padding: 1em;
}

#home_info_titolo {
	font-size: 2.5em;
	color: var(--secondary-color);
}

#home_info_testo {
	font-size: 1.5em;
	padding: 1em;
	margin-bottom: 1em;
}

#home_info .menu_link {
	margin: 0.5em;
	padding: 0.8em 1em;
	text-transform: uppercase;
	font-size: 1.4em;
	border: 5px solid var(--secondary-color);
	background-color: var(--primary-color);
	color: var(--secondary-color);
}

#home_info abbr {
	text-decoration: none;
}

#home_info .menu_link abbr {
	color:var(--secondary-color);
}

/* 
====================================================
						CLUBS
==================================================== 
*/

#clubs_content {
	display: grid;
    grid-template-columns: 1fr;
	row-gap: 1em;
    grid-template-areas: 
    "s"
    "l"
	"m";
	margin-bottom: 1em;
}

#search_bar {
	grid-area: s;
	text-align: center;
	padding: 1em;
}

#search_title {
	margin: 0.5em 1em 0.5em 1em;
	font-size: 3em;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

#searchbar_club {
	background-color: var(--primary-color);
	border: 1px solid var(--text-color);
	font-size: larger;
	padding: 0.4em;
}

#searchbar_club::placeholder {
	color: var(--text-color);
	font-style: italic;
}

#google_map {
	grid-area: m;
	height: 600px;
	margin : 1em 1em 1em 0em;
}

iframe#map {
	height: 100%;
	width: 100%;
	border:none;           
    filter:invert(90%) hue-rotate(180deg);  
}

#addresses_container {
	grid-area: l;
	background-color: var(--gradient-second-color);
	height: 600px;
	margin : 1em 0em 1em 1em;
	text-overflow: ellipsis;
	overflow: hidden;
}

#addresses_container h2 {
	text-align: left;
	padding: 0.5em 0 0 0.5em;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#addresses_list {
	margin-top: 1em;
	height: 89%;
	overflow: scroll;
	overflow-x: hidden;
}

#addresses_list::-webkit-scrollbar {
	width: 12px;               /* width of the entire scrollbar */
}
  
#addresses_list::-webkit-scrollbar-track {
	background: var(--gradient-first-color-hover);        /* color of the tracking area */
}
  
#addresses_list::-webkit-scrollbar-thumb {
	background-color: var(--gradient-second-color);    	/* color of the scroll thumb */
	border-radius: 20px;       							/* roundness of the scroll thumb */
	border: 3px solid #4e4e4e;  					   /* creates padding around scroll thumb */
}

.address {
	background-color: var(--gradient-first-color);
	color: #504b6d;
	font-size: 1em;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
  }

  .address:after {
	content: '\02795'; 
	color: #504b6d;
	float: right;
	margin-left: 5px;
  }

  .active a {
	color: var(--secondary-color);
  }
  
  .active:after {
	content: "\2796"; 
  }
  
  .active, .address:hover {
	background-color: var(--gradient-first-color-hover);
  }
  
  .panel {
	font-size:0.8em;
	padding: 0px 18px;
	background-color: var(--gradient-last-color);
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
  }

  .panel p {
	padding: 0.5em;
  }
/*
-------------------------------------------------------------------------------------------
JOINUS
-------------------------------------------------------------------------------------------

*/

.imgform {
        display: none;
}

.formpage {
      padding-left: 0;
      padding-right: 0;
}


