:root {
	--primary-color: #121212;
	--secondary-color: #b80000;
	--header-color: #a74646;
	--gradient-first-color: #282828;
	--gradient-first-color-hover: #414141;
	--gradient-second-color: #1b1b1b;
	--gradient-last-color: #121212;
	--visited-links: #BBBBBB;
	--text-color: white;
	--red: rgb(196, 47, 47);
	--error-color: #C2B800;
	--links-hover-color: #ffdd36;
	--links-visited-color:#675396;
	--scrollbar: #585858;
	--scrollbar-background: #282828;
	--disabled-color: #888888;
}
* {
	padding: 0;
	margin: 0;
	color: var(--text-color);
	box-sizing: border-box;
}

a{
	cursor:pointer;
}
button{
	cursor:pointer;
}
input[type="text"] {
	cursor: text;
}
select{
	cursor:context-menu;
}

.disabled {
    user-select : none;
    -moz-user-select : none;
    -webkit-user-select : none;
    color: var(--disabled-color);
}

a:visited span{
	color: var(--visited-links);
}
a:hover span{
	color: var(--links-hover-color);
}

html {
	font-size: 100%;
	font-family: "Arial", sans-serif;
	margin: auto;
	background-color: var(--primary-color);
}

body {
	margin: 0;
	padding: 0;
	font-size: 1.5rem;
	margin: auto;
}
img {max-width: 100%;height: auto}

header {
	grid-area: h;
	border: 1px solid var(--secondary-color);
	background-color: var(--header-color);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-transform: uppercase;
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

header li {
	display: inline-block;
  	margin-right: 10px;
}

.logo {
	margin-left: 0.5em;
	background-image: url("../img/fitnesscenter-logo-files/logo-white-no-background.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    text-indent: -1000px;
    font-size: 4em;
	width:2em;
}

.SRskip {
	position: absolute;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

.navmenu {
	margin: 5px 0 0 0;
  	padding: 1.5em;
	list-style: none;
}

.navmenu a {
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.navmenu a:hover {
	color: var(--visited-links);
}

footer {
	grid-area: f;
	border-top: solid 1px var(--text-color);
	padding-top:1em;
	padding: 1em;
}

.subtitle {
	padding-top: 1rem;
	padding-left: 1rem;
}

header h1 {
	padding: 1rem;
	font-size: 1.5rem;
}

h3 {
	padding-top: 1rem;
}

.headerWrapper {
	background-image: linear-gradient(var(--gradient-first-color), var(--gradient-last-color));
}

nav ul {
	list-style-type: none;
}

.selectable{
	cursor: pointer;
}

.hidden{
	display:none;
}
nav li a,
nav li p,
nav .menu_name {
	text-align: center;
	text-decoration: none;
	padding: 1rem;
}

.breadcrumbs {
	grid-area: b;
	padding: 1rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1.2rem;
	background-color: var(--gradient-second-color);
}

.breadcrumbs #percorso {
	color: var(--secondary-color);
	font-weight: bold;
}

.breadcrumbs a{
	text-transform: uppercase;
	color: var(--secondary-color);
}

.breadcrumbs a:hover{
	color: var(--header-color);
}

.breadcrumbs #current_page{
	text-transform: uppercase
}

.testo_rosso {
	color: var(--red);
}

/* 
====================================================
						HOME
====================================================
*/

#HomePage {
	display:grid;
    grid-template-columns: 1fr;
    grid-template-areas:
	"h"
	"b" 
    "t"
    "s"
	"c"
	"iscr"
	"info" 
	"f";
}

#HomePage b {
	font-weight: 800;
	color: inherit;
}

.first_letter_underlined::first-letter {
	text-decoration: 2px underline;
}

.menu_link {
	background-color: var(--text-color);
	padding: 1.0em;
	margin: 2.0em;
	color: var(--primary-color);
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 0.8em;
	font-weight: bold;
	text-decoration: none;
	box-shadow: 5px 5px 5px black;
}

.menu_link:hover {
	background-color: var(--visited-links);
}

/* 
---------------
	TITOLO
---------------
*/

#home_titolo_bg {
	grid-area: t;
	background-image: url('../img/home_title_background.jpg');
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	height: 1000px;
	width: 100%;
}

#home_titolo_text_box {
	position: absolute;
	height: 300px;
	width: 550px;
	top: 15%;
	left: 5%;
}

#home_titolo_titolo {
	font-size: 4em;
	line-height: 0.9em;
	text-shadow: 2px 2px 5px black;
}

#home_titolo_testo {
	margin: 1em;
	padding: 0.5em;
	font-size: 1em;
	line-height: 1.3em;
	text-shadow: 2px 2px 5px black;
}

/* 
---------------
	SEDI
---------------
*/

#home_sedi{
	grid-area: s;
	margin: 2em 1em 1em 1em;
}

#home_sedi_bg {
	float:right;
	background-image: url('../img/home_sedi_bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	height:400px;
	width:60%;
}

#home_sedi_text_box {
	float: left;
	height:400px;
	width:40%;
	margin: auto;
	padding: 4em 0 0 0;
}

#home_sedi_titolo {
	text-align: center;
	font-size: 2.5em;
}

#home_sedi_testo {
	margin: 1em 1em 0.5em 1em;
	padding: 0.5em;
	font-size: 1em;
}

#home_sedi_text_box .first_letter_underlined {
	float:right;
}

#home_sedi_text_box .menu_link {
	padding: 0.8em 1em;
}

/* 
---------------
	CORSI
---------------
*/

#home_corsi{
	grid-area: c;
	margin:1em;
}

/* 
---------------
	ISCRIZIONE
---------------
*/

#home_iscrizione{
	grid-area: iscr;
	margin:1em;
}

/* 
---------------
	INFO
---------------
*/

#home_info{
	grid-area: info;
	margin:1em 1em 2em 1em;
}

/* 
====================================================
						CORSI
====================================================
*/

.etichetta_corsi {
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	flex: 1;
	margin-bottom: 30px;
	font-weight: 600;
}

.video-background {
	width: 100%;
	max-width: -webkit-fill-available;

}

.unstyled {
	text-decoration: none;
}

.container {
	position: relative;
}

.container video {
	position: relative;
	z-index: 0;
}

.text-container {
	left: 0;
	right: 0;
	bottom: 50%;
	width: 75%;
	margin-right: auto;
	margin-left: auto;
}

.overlay {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	bottom: 50%;
	transform: translateY(50%);
	width: 75%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 2em;
	margin-bottom: 2em;
}

.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.article-wrapper a:visited {
	color: var(--primary-color);
}

.article-wrapper a:hover{
	color: var(--primary-color);
}

.article-wrapper {
	width: 350px;
	-webkit-transition: 0.15s all ease-in-out;
	transition: 0.15s all ease-in-out;
	border-radius: 10px;
	margin: 20px;
	padding: 5px;
	border: 4px solid transparent;
	cursor: pointer;
	background-color: #000000;
}

.article-wrapper:hover {
	-webkit-box-shadow: 10px 10px 0 #282828, 20px 20px 0 #3a3a3a;
	box-shadow: 10px 10px 0 #282828, 20px 20px 0 #3a3a3a;
	border-color: #1b1b1b;
	-webkit-transform: translate(-20px, -20px);
	-ms-transform: translate(-20px, -20px);
	transform: translate(-20px, -20px);
}

.article-wrapper:active {
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}

.types {
	gap: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	place-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
}

.rounded-lg {
	border-radius: 10px;
}

.article-wrapper:hover .project-hover {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	background-color: #1b1b1b;
}

.project-info {
	padding-top: 20px;
	padding: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 20px;
	text-decoration: none;
}

.project-image img{
	width: 100%;
	border-radius: 10px;
	object-fit: cover;
}

.project-title {
	font-size: 2em;
	margin: 0;
	font-weight: 600;
	color: white;
	text-decoration: none;
}

.project-text {
	font-size: 1em;
	margin: 0;
	font-weight: 600;
	color: white;
}

.flex-pr {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.project-type {
	font-weight: bold;
	padding: 0.3em 0.7em;
	border-radius: 15px;
	font-size: 1em;
	letter-spacing: -0.6px;
}

.forza {
	background: #f74b45;
	color: #740e0e;
}

.equilibrio {
	background: #f7d04b;
	color: #74510e;
}

.resistenza {
	background: #4bf7a8;
	color: #0e7451;
}

.stabilita {
	background: #4b4ff7;
	color: #0e0e74;
}

.project-hover {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	padding: 9px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.container-project {
	width: 100%;
	height: auto;
	background: #1b1b1b;
}

/* 
====================================================
					SEDI 
==================================================== 
*/

#SediPage {
	display:grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
	"h"
	"b"
    "s"
    "l"
	"f";
}

#search_bar {
	grid-area: s;
	text-align: center;
}

#search_title {
	margin: 1em 1em 0.3em 1em;
	font-size: 3em;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

#searchbar_club {
	background-color: var(--primary-color);
	border: 1px solid white;
	font-size: larger;
	padding: 0.4em;
}

#searchbar_club::placeholder {
	color: white;
	font-style: italic;
}
#clubs_list_map_container {
	grid-area: l;
	height: 600px;
	margin : 1em;
}

#google_map {
	float: right;
	height: 600px;
	width: 50%;
}

iframe#map {
	height: 100%;
	width: 100%;
	border:none;           
    filter:invert(90%) hue-rotate(180deg);  
}

#addresses_container {
	background-color: var(--gradient-second-color);
	height: 600px;
	width: 50%;
	text-overflow: ellipsis;
	overflow: hidden;
}

#addresses_container h2 {
	text-align: left;
	padding: 0.5em 0 0 0.5em;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#addresses_list {
	margin-top: 1em;
	height: 89%;
	overflow: scroll;
	overflow-x: hidden;
}

#addresses_list::-webkit-scrollbar {
	width: 12px;               /* width of the entire scrollbar */
}
  
#addresses_list::-webkit-scrollbar-track {
	background: var(--gradient-first-color-hover);        /* color of the tracking area */
}
  
#addresses_list::-webkit-scrollbar-thumb {
	background-color: var(--gradient-second-color);    	/* color of the scroll thumb */
	border-radius: 20px;       							/* roundness of the scroll thumb */
	border: 3px solid #4e4e4e;  					   /* creates padding around scroll thumb */
}

.address {
	background-color: var(--gradient-first-color);
	color: #504b6d;
	font-size: 1em;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
  }

  .address:after {
	content: '\02795'; 
	color: #504b6d;
	float: right;
	margin-left: 5px;
  }

  .active a {
	color: var(--secondary-color);
  }
  
  .active:after {
	content: "\2796"; 
  }
  
  .active, .address:hover {
	background-color: var(--gradient-first-color-hover);
  }
  
  .panel {
	font-size:0.8em;
	padding: 0px 18px;
	background-color: var(--gradient-last-color);
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
  }

  .panel p {
	padding: 0.5em;
  }
