:root {
	--primary-color: #121212;
	--secondary-color: #B30000;
	--header-color: #A42323;
	--header-h-color:#000DC2;
	--gradient-first-color: #282828;
	--gradient-first-color-hover: #414141;
	--gradient-second-color: #1b1b1b;
	--gradient-last-color: #121212;
	--visited-links: #191919 ;
	--header-hover: #191919;
	--text-color: white;
	--alternative-text-color: black;
	--error-color: #C2B800;
	--links-hover-color: #ffdd36;
	--links-visited-color:#FBDCFE;
	--scrollbar: #585858;
	--scrollbar-background: #282828;
	--disabled-color: #888888;

	--forza: #F5706B;
	--forza-text: black;
	--equilibrio: #E3B726;
	--equilibrio-text: black;
	--resistenza: #0CC051;
	--resistenza-text: black;
	--stabilita: #8F91FF;
	--stabilita-text: black;

	--box-shadow-1: #282828;
	--box-shadow-2: #1b1b1b;
	--titoli: #ffffff;
	--titoli-shadow: #1b1b1b;

	--gradient-blurry : #000000d8;

	--error-color: #00328f;
	--breadcrumb-text-color: #FF8080;
	--breadcrumb-text-h-color: #ffdd36;
	--breadcrumb-links-visited-color: #FBDCFE;
	--breadcrumb-bg-color: #1b1b1b;

	--red: #F47676;
	--verde: #025F26;
	--verde-h: #006d2a;
	--blu: #0057A3;
	--blu-h: #0a5da7;

	--primary-button-fill-color: #65A6FB;
}

/* Tema chiaro ========================= */

@media (prefers-color-scheme: light) {
	:root {
		--primary-color: #f7f7f7;
		--secondary-color: #E17575;
		--header-color: #F56B6B;
		--header-h-color:#A5ABF8;
		--gradient-first-color: #a5a5a5;
		--gradient-first-color-hover: #bebebe;
		--gradient-second-color: #929292;
		--gradient-last-color: #858585;
		--visited-links: #f8f3f3 ;
		--header-hover: #f8f3f3;
		--text-color: black;
		--alternative-text-color: black;
		--error-color: #C2B800;
		--links-hover-color: #1644fd;
		--links-visited-color: #290F66;
		--scrollbar: #585858;
		--scrollbar-background: #282828;
		--disabled-color: #888888;
	
		--forza: #A42323;
		--forza-text: white;
		--equilibrio: #6B5200;
		--equilibrio-text: white;
		--resistenza: #025F26;
		--resistenza-text: white;
		--stabilita: #2024EE;
		--stabilita-text: white;

		--box-shadow-1: #cecece;
		--box-shadow-2: #e7e7e7;
		--titoli: #ffffff;
		--titoli-shadow: #1b1b1b;

		--gradient-blurry : #ffffffd8;

		--error-color: #fbff00;
		--breadcrumb-text-color: #561010;
		--breadcrumb-text-h-color: #1644fd;
		--breadcrumb-links-visited-color: #2A0189;
		--breadcrumb-bg-color: #B8B8B8;

		--red: #A42323;
		--verde: #00b846;
		--verde-h: #07c750;
		--blu: #3F9FF3;
		--blu-h: #1d8cee;

		--primary-button-fill-color: #14509F;
	}
}
* {
	padding: 0;
	margin: 0;
	color: var(--text-color);
	box-sizing: border-box;
}

a{
	cursor:pointer;
}
button{
	cursor:pointer;
}
input[type="text"] {
	cursor: text;
}
select{
	cursor:context-menu;
}

.disabled {
    user-select : none;
    -moz-user-select : none;
    -webkit-user-select : none;
    color: var(--disabled-color);
}

a:hover span{
	color: var(--links-hover-color);
}

/*   far apparire i link visitati con un colore differente
a:visited {
	color: var(--links-visited-color);
}
*/

html {
	font-size: 100%;
	font-family: "Arial", sans-serif;
	margin: auto;
	background-color: var(--primary-color);
}

body {
	padding: 0;
	font-size: 1.5em;
	margin: auto;
}

img {
	max-width: 100%;
	height: auto
}

/*
------------------------------------------------------------
							ERRORI
------------------------------------------------------------
*/
.errore{
	padding-bottom: 1em;
}

/* 
------------------------------------------------------------
							HEADER
------------------------------------------------------------
*/

header, .breadcrumbs, footer {
	width: 100%;
}

header {
	border: 1px solid var(--secondary-color);
	background-color: var(--header-color);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-transform: uppercase;
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

header li {
	display: inline-block;
  	margin: 5px;
}

.logo {
	margin-left: 0.2em;
	background-image: url("../img/fitnesscenter-logo-files/logo-white-no-background.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    text-indent: -2000px;
    font-size: 4em;
	width:2em;
}

@media (prefers-color-scheme: light) {
	.logo {
		background-image: url("../img/fitnesscenter-logo-files/logo-no-background.png");
	}
}

.SRskip {
	position: absolute;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

.menu_name {
	font-weight: 700;
	background-color: var(--header-h-color);
	border: solid 1px var(--text-color);
}

.navmenu {
	list-style: none;
	font-size: 1em;
}

.navmenu a {
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.navmenu a:hover {
	background-color: var(--header-h-color);
	border: solid 1px var(--text-color);
}

.navmenu span:hover,
.navmenu a:hover span {
	color: var(--text-color);
}

nav li a,
nav li p,
nav .menu_name {
	text-align: center;
	text-decoration: none;
	padding: 1em;
}

/* 
------------------------------------------------------------
						BREADCRUMBS
------------------------------------------------------------
*/

.breadcrumbs {
	padding: 0.7em ;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1.4em;
	background-color: var(--breadcrumb-bg-color);
}

.breadcrumbs #percorso {
	color: var(--text-color);
	font-weight: 700;
}

.breadcrumbs a,
.breadcrumbs a span {
	text-transform: uppercase;
	color: var(--breadcrumb-text-color);
}

.breadcrumbs a:hover,
.breadcrumbs a:visited:hover,
.breadcrumbs a:hover span,
.breadcrumbs a:visited:hover span {
	color: var(--breadcrumb-text-h-color);
	font-weight: 900;
}

.breadcrumbs a:visited,
.breadcrumbs a:visited span {
	color: var(--breadcrumb-links-visited-color);
}

.breadcrumbs #current_page{
	text-transform: uppercase
}

.testo_rosso {
	color: var(--red);
}

/* 
------------------------------------------------------------
							FOOTER
------------------------------------------------------------
*/

footer {
	display: flex;
	flex-direction: row;
	border-top: solid 2px var(--primary-color);
	padding-top: 1em;
	padding: 1em;
	background-color: var(--header-color);
}

#footer_text_box {
	padding: 1em;
}

#footer_text_box p {
	padding: 0.2em;
}

#titolo_footer {
	margin-top: 0.5em;
	margin-left: 0.5em;
	background-image: url("../img/fitnesscenter-logo-files/logo-white-no-background.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    text-indent: -1000px;
    font-size: 3em;
	width: 2em;
	color: var(--text-color);
}

@media (prefers-color-scheme: light) {
	#titolo_footer {
		background-image: url("../img/fitnesscenter-logo-files/logo-no-background.png");
	}
}

#info_sede_centrale,
#info_sede_centrale b {
	color:var(--text-color)
}

#copyright_text {
	margin-top: 2em;
	font-size: 0.8em;
	color: var(--text-color);
	font-style: italic;
}

#copyright_text span {
	color: var(--text-color);
}

#autori_text {
	margin-top: 1em;
	font-size: 0.8em;
	color: var(--text-color);
}

/* 
---------------------------------------------------------------------
*/

.subtitle {
	padding-top: 1em;
	padding-left: 1em;
}

header h1 {
	padding: 0.3em;
	font-size: 1.5em;
}

h3 {
	padding-top: 1em;
}

.headerWrapper {
	background-image: linear-gradient(var(--gradient-first-color), var(--gradient-last-color));
}

nav ul {
	list-style-type: none;
}

.selectable{
	cursor: pointer;
}

.hidden{
	display:none;
}

/* 
====================================================
						HOME
====================================================
*/

#home_content {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	padding: 1em;
}

#HomePage b {
	font-weight: 800;
	color: inherit;
}

.first_letter_underlined::first-letter {
	text-decoration: 2px underline;
}

.menu_link {
	background-color: var(--secondary-color);
	padding: 1.0em;
	margin-bottom: 0.5em;
	color: var(--text-color);
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: none;
	box-shadow: 5px 5px 5px var(--box-shadow-1);
}

.menu_link:hover,
.menu_link:hover u,
.menu_link:hover span,
#home_info .menu_link:hover abbr {
	color: var(--links-hover-color);
}

.menu_link:visited,
.menu_link:visited u,
.menu_link:visited span,
#home_info .menu_link:visited abbr {
	color: var(--links-visited-color);
}


/* 
---------------
	TITOLO
---------------
*/

#home_titolo_bg {
	background-image: url('../img/home_title_background.jpg');
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	height: 800px;
	width: 100%;
	margin-bottom: 1em;
}

#home_titolo_text_box {
	height: auto;
	width: auto;
	margin: 1.5em 0 0 1.5em;
	padding-bottom: 1em;
}

#home_titolo_for_mobile {
	background-color: #bebebe;
	background-color: var(--gradient-first-color-hover);
	background-color: #ffffffd8;
	background-color: var(--gradient-blurry);
	padding: 1em;
	margin: 1em;
	margin-bottom: 2em;
}

#home_titolo_titolo {
	color: var(--text-color);
	font-size: 4em;
	line-height: 0.9em;
	
}

#home_titolo_testo {
	color: var(--text-color);
	margin: 1em;
	padding: 0.5em;
	font-size: 1.3em;
	line-height: 1.3em;
}

/* 
---------------
	  CLUBS
---------------
*/

#home_sedi_text_box {
	background-image: url('../img/home_sedi_bg.png');
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	height: auto;
	width: 100%;
	margin: 1em;
}

#home_sedi_for_mobile {
	background-color: #bebebe;
	background-color: var(--gradient-first-color-hover);
	background-color: #ffffffd8;
	background-color: var(--gradient-blurry);
	margin: 3em 0.5em 3em 12em;
}

#home_sedi_titolo {
	text-align: center;
	font-size: 2em;
	padding-top: 0.5em;
}

#home_sedi_testo {
	text-align: center;
	margin: 1em 0 0.5em 1em;
	padding: 0.5em;
	font-size: 1.3em;
}

#home_sedi_text_box .menu_link {
	float:right;
}

#home_sedi_text_box .menu_link {
	padding: 0.8em 1em;
}

/* 
---------------
	CORSI
---------------
*/

#home_corsi_text_box {
	background-image: url('../img/corsi/cycle-body-main.jpg');
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	height: auto;
	width: 100%;
	margin: 1em;
}

#home_corsi_for_mobile {
	background-color: #bebebe;
	background-color: var(--gradient-first-color-hover);
	background-color: #ffffffd8;
	background-color: var(--gradient-blurry);
	margin: 3em 0.5em 3em 12em;
}

#home_corsi_titolo {
	text-align: center;
	font-size: 2em;
	padding-top: 0.5em;
}

.home_corsi_testo {
	margin: 1em 1em 0.5em 1em;
	padding: 0.5em;
	font-size: 1.3em;
}

.u_list {
	margin-left: 20%;
	font-size: 1.3em;
	list-style-type: circle;
}

#home_corsi_text_box .menu_link {
	float:right;
}

#home_corsi_text_box .menu_link {
	margin: 0 0 1em 0;
	padding: 0.8em 1em;
}

/* 
------------------
	ISCRIZIONE
------------------
*/

/* 
#home_iscrizione {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	padding: 1em;
} */


#home_iscrizione {
	margin: 1em;
	margin-bottom: 0.5em;
	text-align: center;
}

#home_iscrizione_titolo {
	font-size: 2.5em;
	text-transform: uppercase;
	padding: 0.3em 0.3em 0 0.3em;
}

#home_iscrizione_testo {
	background-color: var(--gradient-first-color-hover);
	width: 70%;
	height: auto;
	margin: auto;
	padding: 1em;
	font-size: 1.3em;
	text-align: center;
	line-height: 1.3em;
	object-position: center;
}

#home_iscrizione .u_list {
	margin: 0.2em 0 0.2em 1.8em;
}

#home_iscrizione_piano1 {
	background-color: var(--header-color);
}

#home_iscrizione_piano2 {
	background-color: var(--blu);
}

#home_iscrizione_piano3 {
	background-color: var(--verde);
}

#home_iscrizione_piano1:hover {
	background-color: var(--secondary-color);
}

#home_iscrizione_piano2:hover {
	background-color: var(--blu-h);
}

#home_iscrizione_piano3:hover {
	background-color: var(--verde-h);
}

#home_iscrizione_piano1,
#home_iscrizione_piano2,
#home_iscrizione_piano3 {
	margin: 0.5em;
	padding: 0.5em;
	text-align: left;
	border-radius: 1em;
}

#home_iscrizione_piano3 {
	margin-bottom: 1.5em;
}

#home_iscrizione_piano1 h4,
#home_iscrizione_piano2 h4,
#home_iscrizione_piano3 h4 {
	text-align: center;
	text-transform: uppercase;
	font-size: 1.4em;
	padding: 10px;
}

#home_iscrizione .menu_link {
	margin: 0.5em;
	padding: 0.8em 1em;
	text-transform: uppercase;
	font-size: 1.4em;
}

/* 
---------------
	INFO
---------------
*/

#home_info {
	grid-area: info;
	font-size: large;
	text-align: center;
	margin-bottom: 2em;
	padding: 1em;
}

#home_info_titolo {
	font-size: 2.5em;
	color: var(--red);
}

#home_info_testo {
	font-size: 1.5em;
	padding: 1em;
	margin-bottom: 1em;
}

#home_info .menu_link {
	margin: 0.5em;
	padding: 0.8em 1em;
	text-transform: uppercase;
	font-size: 1.4em;
}

#home_info abbr {
	text-decoration: none;
}

#home_info .menu_link abbr {
	color:var(--text-color);
}

/*
====================================================
						AREA UTENTE
====================================================
*/	

.area_utente_content {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	padding: 1em;
	background-color: var(--gradient-blurry);
}

/* 
====================================================
						CORSI
====================================================
*/

.hero-img {
	width: 100%;
	height: 60vh;
	object-fit: cover;
}

#corsi_for_mobile {
	background-color: #bebebe;
	background-color: var(--gradient-first-color-hover);
	background-color: #ffffffd8;
	background-color: var(--gradient-blurry);
	margin: 1em;
	padding: 0.2em 0;
}

#corsi_titolo_testo,
#categoria_titolo_testo {
	color: var(--text-color);
	margin: 1em;
	padding: 0.5em;
	font-size: 1.3em;
	line-height: 1.3em;
}

.titolo_corsi {
	color: var(--text-color);
	font-size: 4em;
	line-height: 0.9em;
	margin: 0.25em;
}

.titolo_corsi  .testo_rosso {
	color: var(--text-color);
}

.etichetta_corsi {
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	flex: 1;
	margin-bottom: 30px;
	font-weight: 600;
}

.video-background {
	width: 100%;
	height: 60vh;
	object-fit: cover;

}

.unstyled {
	text-decoration: none;
}

.container {
	position: relative;
}

.container video {
	position: relative;
	z-index: 0;
}

.text-container {
	left: 0;
	right: 0;
	bottom: 50%;
	width: 75%;
	margin: 1em auto;
}

.text-container h2 {
	font-size: 2.5em;
}

.text-container h3 {
	padding: 0 0 0.5em 0;
}

.text-container div {
	margin: 1em;
	border: 5px solid;
	border-radius: 10px;
	padding: 0.5em;
	box-shadow: 5px 5px 5px var(--box-shadow-1);
}

#Forza_box {
	border-color: var(--forza);
}

#Forza_box h3 {
	color: var(--forza);
}

#Equilibrio_box {
	border-color: var(--equilibrio);
}

#Equilibrio_box h3 {
	color: var(--equilibrio);
}

#Resistenza_box {
	border-color: var(--resistenza);
}

#Resistenza_box h3 {
	color: var(--resistenza);
}

#Stabilità_box {
	border-color: var(--stabilita);
}

#Stabilità_box h3 {
	color: var(--stabilita);
}

.overlay {
	position: absolute;
	top: 0%;
	left: 25%;
}

#corsi {
	margin: 2em 0;
}

.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.flex-container-col {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	padding: 1em;
}

.article-wrapper a:visited {
	color: var(--visited-links);
}

.article-wrapper a:hover{
	color: var(--primary-color);
}

.article-wrapper {
	width: 350px;
	-webkit-transition: 0.15s all ease-in-out;
	transition: 0.15s all ease-in-out;
	border-radius: 10px;
	margin: 20px;
	padding: 5px;
	border: 4px solid transparent;
	background-color: var(--gradient-first-color-hover);
}

.article-wrapper:active {
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}

.types {
	gap: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	place-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
}

.rounded-lg {
	border-radius: 10px;
}

.article-wrapper:hover .project-hover {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	background-color: var(--gradient-second-color);
}

.project-info {
	padding-top: 20px;
	padding: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 20px;
	text-decoration: none;
}

.project-image img{
	width: 100%;
	border-radius: 10px;
	object-fit: cover;
}

.project-title {
	font-size: 2em;
	margin: 0;
	font-weight: 600;
	color: var(--text-color);
	text-decoration: none;
}

.project-title:visited span {
	color: var(--links-visited-color);
} 

.project-title:visited:hover span {
	color: var(--links-hover-color);
}
.project-text {
	font-size: 1em;
	margin: 0;
	font-weight: 600;
	color: var(--text-color);
}

.flex-pr {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.project-type {
	font-weight: bold;
	padding: 0.3em 0.7em;
	border-radius: 15px;
	font-size: 1em;
	letter-spacing: -0.6px;
}

.forza {
	background: var(--forza);
	color: var(--forza-text);
}

.testo-forza {
	color: var(--forza);
}

.equilibrio {
	background: var(--equilibrio);
	color: var(--equilibrio-text);
}

.testo-equilibrio {
	color: var(--equilibrio);
}

.resistenza {
	background: var(--resistenza);
	color: var(--resistenza-text);
}

.testo-resistenza {
	color: var(--resistenza);
}

.stabilita {
	background: var(--stabilita);
	color: var(--stabilita-text);
}

.testo-stabilita {
	color: var(--stabilita);
}

.project-hover {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	padding: 9px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.container-project {
	width: 100%;
	height: auto;
	background: var(--gradient-second-color);
}

#corsi h3 {
	padding-top: 0.5em;
}

/* 
====================================================
						CLUBS
==================================================== 
*/

#clubs_content {
	display:grid;
    grid-template-columns: 1fr 1fr;
	row-gap: 2em;
    grid-template-areas: 
    "s s"
    "l m";
	margin-bottom: 1em;
}

/* 
----------------------------------
		barra di ricerca
---------------------------------- 
*/

#search_bar {
	grid-area: s;
	text-align: center;
	padding: 1em;
}

#search_title {
	margin: 0.5em 1em 0.5em 1em;
	font-size: 3em;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

#searchbar_club {
	background-color: var(--primary-color);
	border: 1px solid var(--text-color);
	font-size: larger;
	padding: 0.4em;
}

#searchbar_club::placeholder {
	color: var(--text-color);
	font-style: italic;
}

/* 
----------------------------------
		mappa google
---------------------------------- 
*/

#google_map {
	grid-area: m;
	height: 600px;
	margin : 1em 1em 1em 0em;
}

iframe#map {
	height: 100%;
	width: 100%;
	border:none;           
    /*filter:invert(90%) hue-rotate(180deg);  filtro mappa, non usabile per problema di contrasto colori*/
}

/* 
----------------------------------
		accordion lista palestre
---------------------------------- 
*/

#addresses_container {
	grid-area: l;
	background-color: var(--header-color);
	color: var(--text-color);
	height: 600px;
	margin : 1em 0em 1em 1em;
	text-overflow: ellipsis;
	overflow: hidden;
}

#addresses_container h2 {
	text-align: left;
	padding: 0.5em 0 0 0.5em;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#addresses_list {
	margin-top: 1em;
	overflow: scroll;
	height: 87%;
	overflow-x: hidden;
}

#addresses_list::-webkit-scrollbar {
	width: 12px;               /* width of the entire scrollbar */
}

#addresses_list::-webkit-scrollbar-track {
	background: var(--gradient-first-color-hover);        /* color of the tracking area */
}
  
#addresses_list::-webkit-scrollbar-thumb {
	background-color: var(--gradient-second-color);    	/* color of the scroll thumb */
	border-radius: 20px;       							/* roundness of the scroll thumb */
	border: 3px solid #4e4e4e;  					   /* creates padding around scroll thumb */
}

.address {
	background-color: var(--gradient-first-color);
	cursor: pointer;
	padding: 18px;
	display: block;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;

	color: var(--text-color);
	text-decoration: none;
}

.address_span::after {
	content: "Apri";
	float: right;
	font-size: 0.7em;
}

.active .address_span::after {
	content: "Chiudi";
	color: var(--breadcrumb-text-color);
} 
  
.active, 
.address:hover,
.address:visited:hover {
	background-color: var(--gradient-first-color-hover);
	color: var(--links-hover-color);
}

.address:hover ::after {
	color: var(--links-hover-color);
}

.address:visited {
	color: var(--links-visited-color);
}

.panel {
	font-size:0.8em;
	padding: 0px 18px;
	background-color: var(--gradient-last-color);
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.panel p {
	padding: 0.5em;
}
/* 
==================================================== 
					Login And Admin
==================================================== 
*/

/* 
-------------------------- 
			Login
--------------------------
*/

.loginpage .adminlink {
	margin-top: 1em;
	padding: 0.5em;
	text-decoration: none;
	color: var(--text-color);
	border: 4px double var(--text-color);
	background-color: var(--primary-color);
}

.adminlink u{
	margin: 0;
	padding: 0;
}

.loginpage .adminlink:hover {
	background-color: var(--header-color);
	color:var(--links-hover-color);
}

.loginpage .adminlink:visited,
.adminlink u {
	color: var(--links-visited-color);
}



.loginpage input,.loginpage button,
.loginpage input[type=email],
.loginpage .adminlink,
.adminpage input,
.adminpage button,
.adminpage select{
	color: var(--text-color);
	background-color: var(--primary-color);
	font-size: 1.2rem;
	font-weight: bold;
}
.loginpage input[type=submit], 
#log_out_button {
	background-color: var(--secondary-color);
}
.adminpage fieldset{
	border-color: var(--header-color);
}
.loginpage .selected{
	color: var(--text-color);
	background-color: var(--secondary-color);
	text-transform: uppercase;
}
.loginpage,.adminpage{
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	text-align: center;
}
.loginpage *{
	padding: 0.25rem;
	border-radius: 0.5rem;
	margin: 0.25rem;
	align-self: center;
	align-content: center;
}

.loginpage{
	min-height: 100vh;
}

#logoutmessage{	
	padding: 0.5em 1em;
	font-size: 1.5em;

	width: 80%;
	max-width: 40em;

	border-bottom: 1px solid var(--text-color);
	border-radius: 0;
	/*grid-row: 1;
	grid-column: 2;*/
}

/* 
-------------------------- 
			Admin
--------------------------
*/

.adminpage {
	padding: 1em 1em 0 1em;
}

.adminpage *{
	padding: 0.25rem;
	border-radius: 0.5rem;
	margin: 0.125rem;
	align-self: center;
	align-content: center;
}

.topselector {
	width: 80%;
	max-width: 20rem;
	background-color: var(--scrollbar);
	display:flex ;
	list-style: none;
	flex-direction: row;
	/*grid-row: 2;
	grid-column: 2;*/
	margin-top: 3em;
}
.topselector li{
	flex: 50%;
	align-items: center;
}
.topselector li button {
	width: 80%;
	align-self: center;
}
.loginform {
	display:flex ;
	flex-direction: column;
	width: 80%;
	max-width: 20rem;
	/*grid-row: 3;
	grid-column: 2;*/
	margin: 1em;
	border: 1px solid var(--text-color);
	padding: 1em;
}

.submit-button{
	background-color: var(--secondary-color);
}

.adminform {
	display:flex ;
	flex-direction: column;
	width: 100%;
}

.adminform fieldset{
	display:grid;
	grid-template-columns: auto auto;
	width: 100%;
}

.adminform legend {
	font-weight: bold;
	font-style: italic;
	font-size: 1.5em;
}

.adminform fieldset label{
	text-transform: capitalize;
	font-weight: bold;
}

.adminform input,
.adminform textarea,
.adminform select {
	align-self:start;
	grid-column: 2;
	background-color: var(--primary-color);
	font-size: 1.1em;
	margin-bottom: 0.5em;
}

#submit_button {
	margin: 0.5em 0;
	padding: 0.5em 1em;
	align-self: flex-end;
	background-color: var(--secondary-color);
}

.adminform label{
	align-self:start;
	align-content:start;
	text-align: left;
	grid-column: 1;
}
.adminform label[class=column2]{
	grid-column: 3;
}
.adminform input[class=column2]{
	grid-column: 4;
}
.loginform *{
	width: 80%;
	align-self: center;
}
.formresult{
	width: calc(min(50rem,80%));
	padding: 2em 1em;
	margin: 1em;
	border: 1px solid var(--text-color);
	background-color: var(--blu);
	font-size: 1.3em
}
.hidden{
	display: none;
}

/* 
----------------------------------------------------
			Pagina admin con Tabella Corsi
----------------------------------------------------
*/
#link_insert_corso {
	text-decoration: none;
	color: var(--text-color);
	border: 4px double var(--text-color);
	margin: 1em 0;
	padding: 0.5em;
	font-size: 1.5em;
	background-color: var(--primary-color);
}

#link_insert_corso:hover {
	background-color: var(--header-color);
}

#link_insert_corso:hover,
#link_insert_corso:visited:hover,
#link_insert_corso:hover u,
#link_insert_corso:visited:hover u {
	color:var(--links-hover-color);
}



#link_insert_corso:visited,
#link_insert_corso:visited u {
	color: var(--links-visited-color);
}

.adminpage u{
	margin: 0;
	padding: 0;
}

.adminpage table, .adminpage caption, .adminpage th, .adminpage td {
	border: 1px solid;
	border-radius: 0em;
}

.adminpage thead, .adminpage caption {
	margin: 0;
	border-collapse: collapse;
	background-color: var(--header-color);
	font-weight: 700;
}

.adminpage table {
	width: 90%;
	border-collapse: collapse;
	margin: 1em 0;
}

.adminpage th, .adminpage td {
	padding: 0.5em 0.25em;
}

.adminpage caption {
	padding: 0.75em 0.5em;
	text-transform: uppercase;
}

.adminpage td a:hover,
.adminpage td a:visited:hover {
	color: var(--breadcrumb-text-h-color);
}

.adminpage td a:visited {
	color: var(--links-visited-color);
}


/* 
==================================================== 
						INFO
====================================================

.infopage{
	display: flex;
	flex-direction: column;
	align-items: left;
	align-content: start;
	text-align: left;
}
*/
.infopage *{
	padding: 0.25rem;
	border-radius: 0.5rem;
	margin: 0.25rem;
}
.infopage dt{
	/*color: var(--alternative-text-color);*/
	background-color: var(--header-color);
	padding: 0.5em;
}
.infopage{
	display: grid;
	grid: 'paddingleft faq     faq paddingright'
		  'paddingleft contacts .  paddingright';
	grid-template-columns: 5% 90% 0% 5%;
}
.infopage dt, .infopage dd{
	width: fit-content;
}
/*#faq::before{
	content: "";
	grid-area: paddingleft;
}*/
#faq{
	grid-area: faq;
}
#faq dt{
	font-weight: 700;
}
#faq dd{
	margin-left: 1em;
	font-size: 0.8em;
}
#contatti_social{
	grid-area: contacts;
}
/*#contatti_social::after{
	content: "";
	grid-area: paddingright;
}*/
@media only screen and (min-width: 25rem) {
	.infopage{
		grid-template-columns: 10% 40% 40% 10%;
	}
	.contactsection dl{
		display: grid;
		gap: 0.1em;
	}
	.contactsection dt{
		grid-column: 1;
	}
	.contactsection dd{
		grid-column: 2;
	}
}
@media only screen and (min-width: 30rem) {
	.infopage{
		grid-template-columns: 15% 25% 45% 15%;
	}
}

/* 
---------------------------------------------------------------------------------------------------------------------------------------
JoinUS
-------------------------------------------------------------------------------------------------------------------
*/
.titleform h1 {
	text-align: center;
	padding-top: .5em;
	padding-bottom: .2em;
}

.formpage {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
}


.formint label,
.formint p {
	padding-left: .5em;
}

.radioform label {
	padding-left: 0;
}

.radioform span {
	padding-left: .5em;
}


/* @media (min-width: 769px) { */
.wrapper {
		display: grid;
		grid-template-columns: 1fr 2fr;
}

.formint {
	display: grid;
	grid-template-columns: 1fr;
	background: var(--header-color);
}

.formint input,
.formint textarea {
	padding: .5em;
	border-radius: 4px;
	color: var(--text-color);
	background: var(--primary-color);
}

.formint textarea {
	margin: 1em;
	margin-top: .5em;
	width: 95%;
	border: 1px solid #000;
	resize: none;
}


.margineSinistro {
	float: right;
	padding: .5em;
	margin: .5em;
}

.top {
	margin-top: .5em;
}

.imgform img {
	min-height: 100%;
	object-fit: cover;
}

.messaggi {
	margin-top: .5em;
	margin-left: .5em;
	margin-right: .5em;
	background-color: var(--error-color);
	color: #000;
	border-color: #000;
	border-radius: 4px;
}

.reload-button {
	background: var(--primary-button-fill-color);
}
