:root {
	--primary-color: #121212;
	--secondary-color: #b80000;
	--header-color: #a74646;
	--gradient-first-color: #282828;
	--gradient-first-color-hover: #414141;
	--gradient-second-color: #1b1b1b;
	--gradient-last-color: #121212;
	--visited-links: #BBBBBB;
	--text-color: white;
	--alternative-text-color: black;
	--red: rgb(196, 47, 47);
	--error-color: #C2B800;
	--links-hover-color: #ffdd36;
	--links-visited-color:#675396;
	--scrollbar: #585858;
	--scrollbar-background: #282828;
	--disabled-color: #888888;
}

* {
	padding: 0;
	margin: 0;
	color: var(--text-color);
	box-sizing: border-box;
}

a{
	cursor:pointer;
}
button{
	cursor:pointer;
}
input[type="text"] {
	cursor: text;
}
select{
	cursor:context-menu;
}

.disabled {
    user-select : none;
    -moz-user-select : none;
    -webkit-user-select : none;
    color: var(--disabled-color);
}

a:visited span{
	color: var(--visited-links);
}
a:hover span{
	color: var(--links-hover-color);
}

html {
	font-size: 100%;
	font-family: "Arial", sans-serif;
	margin: auto;
	background-color: var(--primary-color);
}

body {
	margin: 0;
	padding: 0;
	font-size: 1.5rem;
	margin: auto;
}
img {max-width: 100%;height: auto}

/* 
------------------------------------------------------------
							HEADER
------------------------------------------------------------
*/

header {
	grid-area: h;
	border: 1px solid var(--secondary-color);
	background-color: var(--header-color);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-transform: uppercase;
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
}

header li {
	display: inline-block;
  	margin-right: 10px;
}

.logo {
	margin-left: 0.5em;
	background-image: url("../img/fitnesscenter-logo-files/logo-white-no-background.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    text-indent: -1000px;
    font-size: 4em;
	width:2em;
}

.SRskip {
	position: absolute;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

.menu_name {
	font-weight: 700;
}

.navmenu {
	margin: 5px 0 0 0;
  	padding: 1.5em;
	list-style: none;
}

.navmenu a {
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.navmenu a:hover {
	color: var(--visited-links);
}

/* 
------------------------------------------------------------
							FOOTER
------------------------------------------------------------
*/

footer {
	grid-area: f;
	display: flex;
	flex-direction: row;
	border-top: solid 2px var(--text-color);
	padding-top: 1em;
	padding: 1em;
	background-color: var(--header-color);
}

#footer_text_box {
	padding: 1em;
}

#footer_text_box p {
	padding: 0.2em;
}

#titolo_footer {
	margin-top: 0.5em;
	margin-left: 0.5em;
	background-image: url("../img/fitnesscenter-logo-files/logo-white-no-background.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    text-indent: -1000px;
    font-size: 3em;
	width: 2em;
}

#copyright_text {
	margin-top: 2em;
	font-size: 0.8em;
	color: var(--gradient-first-color);
	font-style: italic;
}

#copyright_text span {
	color: var(--gradient-first-color);
}

#autori_text {
	margin-top: 1em;
	font-size: 0.8em;
	color: var(--gradient-first-color);
}

.subtitle {
	padding-top: 1rem;
	padding-left: 1rem;
}

header h1 {
	padding: 1rem;
	font-size: 1.5rem;
}

h3 {
	padding-top: 1rem;
}

.headerWrapper {
	background-image: linear-gradient(var(--gradient-first-color), var(--gradient-last-color));
}

nav ul {
	list-style-type: none;
}

.selectable{
	cursor: pointer;
}

.hidden{
	display:none;
}
nav li a,
nav li p,
nav .menu_name {
	text-align: center;
	text-decoration: none;
	padding: 1rem;
}

/* 
------------------------------------------------------------
						BREADCRUMBS
------------------------------------------------------------
*/

.breadcrumbs {
	grid-area: b;
	padding: 0.7em ;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1.4rem;
	background-color: var(--gradient-second-color);
}

.breadcrumbs #percorso {
	color: var(--secondary-color);
	font-weight: 700;
}

.breadcrumbs a{
	text-transform: uppercase;
	color: var(--secondary-color);
}

.breadcrumbs a:hover{
	color: var(--links-visited-color);
	font-weight: 900;
}

.breadcrumbs #current_page{
	text-transform: uppercase
}

.testo_rosso {
	color: var(--red);
}

/* 
====================================================
						HOME
====================================================
*/

#home_content {
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
	row-gap: 2em;
	column-gap: 1em;
    grid-template-areas:
			"t t t"
			"s sb sb"
			"cb cb c "
			"iscr iscr iscr"
			"info info info";
}

#HomePage b {
	font-weight: 800;
	color: inherit;
}

.first_letter_underlined::first-letter {
	text-decoration: 2px underline;
}

.menu_link {
	background-color: var(--text-color);
	padding: 1.0em;
	margin: 0 0.5em 0.5em 0;
	color: var(--primary-color);
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 0.8em;
	font-weight: bold;
	text-decoration: none;
	box-shadow: 5px 5px 5px black;
}

.menu_link:hover {
	background-color: var(--visited-links);
}

.spazio_vuoto {
	margin: 4em;
}

/* 
---------------
	TITOLO
---------------
*/

#home_titolo_bg {
	grid-area: t;
	background-image: url('../img/home_title_background.jpg');
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	height: 1000px;
	width: 100%;
}

#home_titolo_text_box {
	position: absolute;
	height: 300px;
	width: 550px;
	top: 15%;
	left: 5%;
}

#home_titolo_titolo {
	font-size: 4em;
	line-height: 0.9em;
	text-shadow: 2px 2px 5px black;
}

#home_titolo_testo {
	margin: 1em;
	padding: 0.5em;
	font-size: 1em;
	line-height: 1.3em;
	text-shadow: 2px 2px 5px black;
}

/* 
---------------
	  CLUBS
---------------
*/


#home_sedi_bg {
	grid-area: sb;
	background-image: url('../img/home_sedi_bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	height:auto;
}

#home_sedi_text_box {
	grid-area: s;
	background-color: var(--gradient-first-color-hover);
	height: auto;
	margin-left: 1em;
	padding: 2em 0.5em 0em 0.5em;
}

#home_sedi_titolo {
	text-align: center;
	font-size: 2.5em;
}

#home_sedi_testo {
	margin: 1em 1em 0.5em 1em;
	padding: 0.5em;
	font-size: 1em;
}

#home_sedi_text_box .first_letter_underlined {
	float:right;
}

#home_sedi_text_box .menu_link {
	padding: 0.8em 1em;
}

/* 
---------------
	CORSI
---------------
*/
#corpo_corso .breadcrumbs {
	margin: 0em;
}

#home_corsi_bg {
	grid-area: cb;
	background-image: url('../img/corsi/cycle-body-main.jpg');
	background-position: right;
	background-size: cover;
	background-repeat: no-repeat;
	height: auto;
}

#home_corsi_text_box {
	grid-area: c;
	background-color: var(--gradient-first-color-hover);
	height: auto;
	margin-right: 1em;
	padding: 15% 1em 1em 1em;
}

#home_corsi_titolo {
	text-align: center;
	font-size: 2.5em;
}

#home_corsi_testo {
	margin: 1em 1em 0.5em 1em;
	padding: 0.5em;
	font-size: 1em;
}

.u_list {
	margin: 0.2em 0 0.2em 1.8em;
}

#home_corsi_text_box .first_letter_underlined {
	float:right;
}

#home_corsi_text_box .menu_link {
	margin: 0 0 1em 0;
	padding: 0.8em 1em;
	
}

/* 
------------------
	ISCRIZIONE
------------------
*/

#home_iscrizione {
	grid-area: iscr;
	margin: 1em;
	text-align: center;
	display: grid;
	gap: 1em;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: 
	"iti iti iti"
	"ite ite ite"
	"p1 p2 p3"
	". b .";
}

#home_iscrizione_titolo {
	grid-area: iti;
	font-size: 2.5em;
	text-transform: uppercase;
	padding: 0.3em 0.3em 0 0.3em;
}

#home_iscrizione_testo {
	grid-area: ite;
	background-color: var(--gradient-first-color-hover);
	width: 60%;
	height: auto;
	margin: auto;
	padding: 1em;
	text-align: center;
	line-height: 1.3em;
	object-position: center;
}

#home_iscrizione_piano1 {
	grid-area: p1;
	background-color: #f74b45;
}

#home_iscrizione_piano2 {
	grid-area: p2;
	background-color: #4386c2;
}

#home_iscrizione_piano3 {
	grid-area: p3;
	background-color: #d4c72f;
}

#home_iscrizione_piano1:hover {
	background-color: #e62620;
}

#home_iscrizione_piano2:hover {
	background-color: #1b7acc;
}

#home_iscrizione_piano3:hover {
	background-color: #aa9d0c;
}

#home_iscrizione_piano1,
#home_iscrizione_piano2,
#home_iscrizione_piano3 {
	margin: 0.5em;
	padding: 0.5em;
	text-align: left;
	border-radius: 5%;
}

#home_iscrizione_piano1 h4,
#home_iscrizione_piano2 h4,
#home_iscrizione_piano3 h4 {
	text-align: center;
	text-transform: uppercase;
	font-size: 1.4em;
	padding: 10px;
}

#home_iscrizione .menu_link {
	grid-area: b;
	margin: 0.5em;
	padding: 0.8em 1em;
	text-transform: uppercase;
	font-size: 1.4em;
	border: 5px solid var(--secondary-color);
	background-color: var(--primary-color);
	color: var(--secondary-color);
}

/* 
---------------
	INFO
---------------
*/

#home_info {
	grid-area: info;
	font-size: large;
	text-align: center;
	margin-bottom: 2em;
	padding: 1em;
}

#home_info_titolo {
	font-size: 2.5em;
	color: var(--secondary-color);
}

#home_info_testo {
	font-size: 1.5em;
	padding: 1em;
	margin-bottom: 1em;
}

#home_info .menu_link {
	margin: 0.5em;
	padding: 0.8em 1em;
	text-transform: uppercase;
	font-size: 1.4em;
	border: 5px solid var(--secondary-color);
	background-color: var(--primary-color);
	color: var(--secondary-color);
}

#home_info abbr {
	text-decoration: none;
}

#home_info .menu_link abbr {
	color:var(--secondary-color);
}

/* 
====================================================
						CORSI
====================================================
*/

.etichetta_corsi {
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	flex: 1;
	margin-bottom: 30px;
	font-weight: 600;
}

.video-background {
	width: 100%;
	max-width: -webkit-fill-available;

}

.unstyled {
	text-decoration: none;
}

.container {
	position: relative;
}

.container video {
	position: relative;
	z-index: 0;
}

.text-container {
	left: 0;
	right: 0;
	bottom: 50%;
	width: 75%;
	margin: 1em auto;
}

.text-container h2 {
	font-size: 2.5em;
}

.text-container h3 {
	padding: 0 0 0.5em 0;
}

.text-container div {
	margin: 1em;
	border: 5px solid;
	border-radius: 10px;
	padding: 0.5em;
	box-shadow: 5px 5px 5px rgb(65, 65, 65);
}

#Forza_box {
	border-color: #f74b45;
}

#Forza_box h3 {
	color: #f74b45;
}

#Equilibrio_box {
	border-color: #f7d04b;
}

#Equilibrio_box h3 {
	color: #f7d04b;
}

#Resistenza_box {
	border-color: #4bf7a8;
}

#Resistenza_box h3 {
	color: #4bf7a8;
}

#Stabilità_box {
	border-color: #4b4ff7;
}

#Stabilità_box h3 {
	color: #4b4ff7;
}

.overlay {
	position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
}

#corsi {
	margin: 2em 0;
}

.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.flex-container-col {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	padding: 1em;
}

.article-wrapper a:visited {
	color: var(--primary-color);
}

.article-wrapper a:hover{
	color: var(--primary-color);
}

.article-wrapper {
	width: 350px;
	-webkit-transition: 0.15s all ease-in-out;
	transition: 0.15s all ease-in-out;
	border-radius: 10px;
	margin: 20px;
	padding: 5px;
	border: 4px solid transparent;
	cursor: pointer;
	background-color: var(--gradient-first-color-hover);
}

.article-wrapper:hover {
	-webkit-box-shadow: 10px 10px 0 #282828, 20px 20px 0 #1b1b1b;
	box-shadow: 10px 10px 0 #282828, 20px 20px 0 #1b1b1b;
	border-color: #1b1b1b;
	-webkit-transform: translate(-20px, -20px);
	-ms-transform: translate(-20px, -20px);
	transform: translate(-20px, -20px);
}

.article-wrapper:active {
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}

.types {
	gap: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	place-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
}

.rounded-lg {
	border-radius: 10px;
}

.article-wrapper:hover .project-hover {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	background-color: #1b1b1b;
}

.project-info {
	padding-top: 20px;
	padding: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 20px;
	text-decoration: none;
}

.project-image img{
	width: 100%;
	border-radius: 10px;
	object-fit: cover;
}

.project-title {
	font-size: 2em;
	margin: 0;
	font-weight: 600;
	color: white;
	text-decoration: none;
}

.project-text {
	font-size: 1em;
	margin: 0;
	font-weight: 600;
	color: white;
}

.flex-pr {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.project-type {
	font-weight: bold;
	padding: 0.3em 0.7em;
	border-radius: 15px;
	font-size: 1em;
	letter-spacing: -0.6px;
}

.forza {
	background: #f74b45;
	color: #740e0e;
}

.equilibrio {
	background: #f7d04b;
	color: #74510e;
}

.resistenza {
	background: #4bf7a8;
	color: #0e7451;
}

.stabilita {
	background: #4b4ff7;
	color: #0e0e74;
}

.project-hover {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	padding: 9px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.container-project {
	width: 100%;
	height: auto;
	background: #1b1b1b;
}

/* 
====================================================
						CLUBS
==================================================== 
*/

#clubs_content {
	display:grid;
    grid-template-columns: 1fr 1fr;
	row-gap: 2em;
    grid-template-areas: 
    "s s"
    "l m";
	margin-bottom: 1em;
}

#search_bar {
	grid-area: s;
	text-align: center;
	padding: 1em;
}

#search_title {
	margin: 0.5em 1em 0.5em 1em;
	font-size: 3em;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

#searchbar_club {
	background-color: var(--primary-color);
	border: 1px solid white;
	font-size: larger;
	padding: 0.4em;
}

#searchbar_club::placeholder {
	color: white;
	font-style: italic;
}

#google_map {
	grid-area: m;
	height: 600px;
	margin : 1em 1em 1em 0em;
}

iframe#map {
	height: 100%;
	width: 100%;
	border:none;           
    filter:invert(90%) hue-rotate(180deg);  
}

#addresses_container {
	grid-area: l;
	background-color: var(--gradient-second-color);
	height: 600px;
	margin : 1em 0em 1em 1em;
	text-overflow: ellipsis;
	overflow: hidden;
}

#addresses_container h2 {
	text-align: left;
	padding: 0.5em 0 0 0.5em;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#addresses_list {
	margin-top: 1em;
	height: 89%;
	overflow: scroll;
	overflow-x: hidden;
}

#addresses_list::-webkit-scrollbar {
	width: 12px;               /* width of the entire scrollbar */
}
  
#addresses_list::-webkit-scrollbar-track {
	background: var(--gradient-first-color-hover);        /* color of the tracking area */
}
  
#addresses_list::-webkit-scrollbar-thumb {
	background-color: var(--gradient-second-color);    	/* color of the scroll thumb */
	border-radius: 20px;       							/* roundness of the scroll thumb */
	border: 3px solid #4e4e4e;  					   /* creates padding around scroll thumb */
}

.address {
	background-color: var(--gradient-first-color);
	color: #504b6d;
	font-size: 1em;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
  }

  .address:after {
	content: '\02795'; 
	color: #504b6d;
	float: right;
	margin-left: 5px;
  }

  .active a {
	color: var(--secondary-color);
  }
  
  .active:after {
	content: "\2796"; 
  }
  
  .active, .address:hover {
	background-color: var(--gradient-first-color-hover);
  }
  
  .panel {
	font-size:0.8em;
	padding: 0px 18px;
	background-color: var(--gradient-last-color);
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
  }

  .panel p {
	padding: 0.5em;
  }
/* 
---------------
	Login
---------------
*/
.loginpage input,.loginpage button,.loginpage input[type=email]{
	color: var(--text-color);
	background-color: var(--primary-color);
	font-size: 1.2rem;
}
.loginpage .selected{
	color: var(--alternative-text-color);
	background-color: var(--header-color);
}
.loginpage{
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	text-align: center;
}
.loginpage *{
	padding: 0.25rem;
	border-radius: 0.5rem;
	margin: 0.25rem;
	align-self: center;
	align-content: center;
}
#logoutmessage{	
	width: calc(min(40rem,80%));
	/*grid-row: 1;
	grid-column: 2;*/
}
.topselector{
	width: calc(min(20rem,80%));
	background-color: var(--scrollbar);
	display:flex ;
	list-style: none;
	flex-direction: row;
	/*grid-row: 2;
	grid-column: 2;*/
}
.topselector li{
	flex: 50%;
	align-items: center;
}
.topselector li button{
	width: 80%;
	align-self: center;
}
.loginform{
	display:flex ;
	flex-direction: column;
	width: calc(min(20rem,80%));
	/*grid-row: 3;
	grid-column: 2;*/
}
.loginform *{
	width: 80%;
	align-self: center;
}
.formresult{
	width: calc(min(50rem,80%));
	/*grid-row: 4;
	grid-column: 2;*/
}
.hidden{
	display: none;
}
/* 
---------------
	info
---------------

.infopage{
	display: flex;
	flex-direction: column;
	align-items: left;
	align-content: start;
	text-align: left;
}
*/
.infopage *{
	padding: 0.25rem;
	border-radius: 0.5rem;
	margin: 0.25rem;
}
.infopage dt{
	/*color: var(--alternative-text-color);*/
	background-color: var(--header-color);
}
.infopage{
	display: grid;
	grid: 'paddingleft faq     faq paddingright'
		  'paddingleft contacts .  paddingright';
	grid-template-columns: 5% 90% 0% 5%;
}
.infopage dt, .infopage dd{
	width: fit-content;
}
/*#faq::before{
	content: "";
	grid-area: paddingleft;
}*/
#faq{
	grid-area: faq;
}
#contatti_social{
	grid-area: contacts;
}
/*#contatti_social::after{
	content: "";
	grid-area: paddingright;
}*/
@media only screen and (min-width: 25rem) {
	.infopage{
		grid-template-columns: 10% 40% 40% 10%;
	}
	.contactsection dl{
		display: grid;
		gap: 0.1em;
	}
	.contactsection dt{
		grid-column: 1;
	}
	.contactsection dd{
		grid-column: 2;
	}
}
@media only screen and (min-width: 30rem) {
	.infopage{
		grid-template-columns: 15% 25% 45% 15%;
	}
}

/* 
---------------------------------------------------------------------------------------------------------------------------------------
JoinUS
-------------------------------------------------------------------------------------------------------------------
*/
.titleform h1 {
	padding-left: 10em;
	padding-top: .5em;
	padding-bottom: .5em;
}

.formpage {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
}

@media (min-width: 600px) {
	.formpage {
		padding: 0;
	}
}

.formint label,
.formint p {
	padding-left: .5em;
}

.radioform label {
	padding-left: 0;
}

.radioform span {
	padding-left: .5em;
}


@media (min-width: 700px) {
	.wrapper {
		display: grid;
		grid-template-columns: 1fr 2fr;
	}
}

.formint {
	display: grid;
	grid-template-columns: 1fr;
	background: #b80000;
}

.formint input,
.formint textarea {
	padding: .5em;
	border-radius: 4px;
	color: #000000;
}

.formint textarea {
	margin: 1em;
	margin-top: .5em;
	width: 95%;
	border: 1px solid #000;
	resize: none;
}


.margineSinistro {
	float: right;
	padding: .5em;
	margin: .5em;
}

.top {
	margin-top: .5em;
}

.imgform img {
	min-height: 100%;
}

/*

ADMIN


*/

.adminlink{
	margin-top: 2rem;
}