/* FORM */
input {
    width: 100%;
    margin-bottom: 1em;
    /*per distanziare vari campi input */
}

textarea {
    border-radius: 4px;
    width: 100%;
}

p {
    margin-bottom: 0em;
    /* per togliere distanza tra sesso e radio button */
}

h1 {
    margin-bottom: 0em;
}

input[type=radio] {
    width: auto;
    /*per non avere distanza tra cerchio e nome*/
    margin-bottom: 0em;
    /* per non avere distanza tra scelte */
}

input[type=button],
input[type=submit],
input[type=reset] {
    background-color: #00065f;
    width: auto;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

form {
    /*risolvere barra orizzontale con metà pagina bianca */
    position: relative;
    width: 150%;
    /*da rendere relativo con em ? */
    height: 100%;
    margin: 0 auto;
    padding: 1em;
    box-sizing: border-box;
    background: #fff;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 10em 1em 1em 1em;
}